<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
  <properties resource="jdbc.properties"/>
  
  <typeAliases>
  
  	<package name="com.sz.crm.setting.daomain"/>
  	<package name="com.sz.crm.workbench.daomain"></package>
  
  </typeAliases>


 
  <mappers>
   
      <package name="com.sz.crm.setting.dao"/>
    <package name="com.sz.crm.workbench.dao"/>
  </mappers>
</configuration>

































